.header {
  display: flex;
  width: 100%;

  margin-top: 14px;
  height: 56px;
  align-items: center;
  text-align: center;
  z-index: 2;
  position: fixed;
}
.menuList {
  display: flex;
  margin: auto;
  height: 56px;
  align-items: center;
  color: white;
}
#menu1 {
  margin-right: 3em;
}
#menu2 {
  margin-right: 3em;
}

#logoPlace {
  margin-left: 5.88em;
  width: 5.88em;
  float: left;
  position: relative;
}
#logoPlace:hover {
  cursor: pointer;
}
